<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebest.dayu.product.Do.SalesAreaDo">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ebest.dayu.product.Dto.SalesAreaDto">
        <id column="id" property="id" />
        <result column="object_type" property="objectType" />
        <result column="object_id" property="objectId" />
        <result column="org_Id" property="orgId" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, object_type, object_id, org_Id, gmt_create, gmt_modified
    </sql>

</mapper>
